# A Taste of Python
 
## General Information

### About this document

This is a [Jupyter Notebook](https://jupyter.org/). This particular notebook is designed to introduce you to a few of the basic concepts of programming in Python. The contents of this document are divived into cells, which can contain Markdown formatted text, Python code, or raw text. You can execute a snippet of code in a cell by pressing **Shift-Enter**.

### Structure of this document

This document is the first lessons of many. Each lessons will be formatted in a similar document and all of the documents will be available on Confluence.

## Variables, math and functions

We will start our Python lesson by learning a bit of the basic operations you can perform using Python.

### Simple Python math

Python can be used as a simple calculator. Remember, you can press **Shift-Enter** to execute the code in the cells below.

In [3]:
1 + 1

2

In [2]:
5 * 7

35

### Math Operations

The list of basic arithmetic operations that can be done by default in Python is in the table below.

| Operation | Symbol | Example Syntax | Returned Value |
| ----------- | ----------- | ----------- | ----------- |
| Addition | `+` | `2 + 2` | `4`
| Substraction | `-` | `4 - 2` | `2`
| Multiplication | `*` | `2 * 3` | `6`
| Division | `/` | `4 / 2` | `2`
| Exponentiation | `**` | `2 ** 3` | `8`

For anything more advanced, we need to load a module. For math operations, this module is called math and it can be loaded by typing `import math`.

In [4]:
import math

Now that we have access to functions in the math module, we can use it by typing the module name, a period (dot), and the the name of the function we want to use.

In [5]:
math.pi

3.141592653589793

In [7]:
math.sqrt(4)

2.0

### Combining functions

Functions can also be combined. The `print()` function returns values within the parentheses as text on the screen.

In [18]:
print(math.sqrt(4))

2.0

You can also combine text with other calculated values using the `print()` function.

In [15]:
print('The square root of 4 is', math.sqrt(4))

The square root of 4 is 2.0

### Variables

Variables can be used to store values calculated in expressions and used for other calculations. Assigning value to variables is straightforward. To assign a value, you simply type `variable_name = value`, where `variable_name` is the name of the variable you wish to define

In [20]:
temp_celsius = 10.0
print(temp_celsius)

10.0

As we did above, you can combine text and even use some math when printing out variable values.

In [26]:
print('Temperature in Fahrenheit:', 9/5 * temp_celsius + 32)

Temperature in Fahrenheit: 50.0

#### Updating variables
Values stored in variables can also be updated.

In [29]:
temp_celsius = 15.0
print('temperature in Celsius is now:' , temp_celsius)

temperature in Celsius is now: 15.0

### Data Types
There are 4 basis *data types* in Python as shown in the table below.

| Data Type Name | Data Type | Example |
| ----------- | ----------- | ----------- |
| `int` | Whole integer values | `4` | 
| `float` | Decimal values | `3.1415` | 
| `str` | Character strings | `Hot` |
| `bool` | True / false values | `True` |

The data type can be found using the `type()` function. As you will see, the data types are important because some are not compatible with one another.

Let’s define a variable `weatherForecast` and assign it the value `'Hot'`. After this, we can check its data type using the `type()` function.

In [31]:
weatherForecast = 'Hot'
type(weatherForecast)

str

## Good coding practices - Selecting "good" variable names

This course aims to introduce you to programming in Python, but also to good programming practices. These comprise practical tips based on practices used by professional programmers that help them write better programs that are easier to understand and share with others. To say it differently, there are many ways to learn to program, and we want to help you learn how to program the right way!

This week our good programming practice is about selecting “good” variable names.

### Some "not-so-good" variable names
To illustrate the point, consider a few not-so-good examples below.

In [17]:
s = "101533"

In [19]:
sid = "101533"

In [22]:
myUniqueIdWhenILoginAtNurun = "101533"

### Selecting "good" variable names

A good variable name should:

1. Be clear and concise
2. Be written in English. A general coding practice is to write code with variable names in English, as that is the most likely common language between programmers.
3. Not contain special characters.
4. Not conflict with any [Python keywords](https://www.pythonforbeginners.com/basics/keywords-in-python).

In [32]:
nurunId = "101533"
nurunOffice = ["Montreal", "Quebec", "Toronto"]