# Basic elements of Python

In this lesson we will revisit data types, learn how data can be stored in Python lists, and about the concept of objects in programming.

## Data types revisited

### Let's start with some data

We saw a bit about variables and their values in the lesson last week, and we continue today with some variables related to FMI observation stations in Finland. For each station, a number of pieces of information are given, including the name of the station, an FMI station ID number (FMISID), its latitude, its longitude, and the station type. We can store this information and some additional information for a given station in Python as follows:

In [2]:
# Name of the station
station_name = "Helsinki Kaivopuisto"

# Id of the station
station_id = 132310

# Latitude of the station
station_lat = 60.15

# Longitude of the station
station_lon = 24.96

# Type of station
station_type = "Mareographs"

Here we have 5 values assigned to variables related to a single observation station. Each variable has a unique name and they can store different types of data.

### Reminder: Data Types and their compatibility

We can explore the different types of data stored in variables using the `type()` function. Let’s use the cells below to check the data types of the variables `station_name`, `station_id`, and `station_lat`.

In [3]:
type(station_name)

str

In [4]:
type(station_id)

int

In [5]:
type(station_lat)

float

As expected, we see that the `station_name` is a character string, the `station_id` is an integer, and the `station_lat` is a floating point number.

In [6]:
station_name + station_id

TypeError: can only concatenate str (not "int") to str

Here we get a `TypeError` because Python does not know to combine a string of characters (`station_name`) with an integer value (`station_id`).

### Converting data from one type to another

It is not the case that things like the `station_name` and `station_id` cannot be combined at all, but in order to combine a character string with a number we need to perform a data type conversion to make them compatible. Let’s convert `station_id` to a character string using the `str()` function. We can store the converted variable as `station_id_str`.

In [7]:
station_id_str = str(station_id)

We can confirm the type has changed by checking the type of `station_id_str`, or by checking the output when you type the name of the variable into a cell and running it.

In [8]:
type(station_id_str)

str

In [9]:
station_id_str

'132310'

### Combining text and numbers

Although most mathematical operations operate on numerical values, a common way to combine character strings is using the addition operator +. Let’s create a text string in the variable `station_name_and_id` that is the combination of the `station_name` and `station_id` variables. Once we define `station_name_and_id`, we can print it to the screen to see the result.

In [10]:
station_name_and_id = station_name + ": " + str(station_id)

In [11]:
print(station_name_and_id)

Helsinki Kaivopuisto: 132310

Note that here we are converting `station_id` to a character string using the `str()` function within the assignment to the variable `station_name_and_id`. Alternatively, we could have simply added `station_name` and `station_id_str`.

## List and indices

Above we have seen a bit of data related to one of several FMI observation stations in the Helsinki area. Rather than having individual variables for each of those stations, we can store many related values in a collection. The simplest type of collection in Python is a list.

### Creating a list

Let's first create a list of selected `station_name` values and print it to the screen.

In [12]:
station_names = ['Helsinki Harmaja', 'Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

In [13]:
print(station_names)

['Helsinki Harmaja', 'Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

We can also check the type of the station_names list using the type() function.

In [14]:
type(station_names)

list

Here we have a list of 4 `station_name` values in a list called `station_names`. As you can see, the `type()` function recognizes this as a list. Lists can be created using the square brackets `[` and `]`, with commas separating the values in the list.

### Index values

To access an individual value in the list we need to use an **index value**. An index value is a number that refers to a given position in the list. Let’s check out the first value in our list as an example by printing out `station_names[1]`:

In [15]:
print(station_names[1])

Helsinki Kaisaniemi

Wait, what? This is the second value in the list we’ve created, what is wrong? As it turns out, Python (and many other programming languages) start values stored in collections with the index value 0. Thus, to get the value for the first item in the list, we must use index `0`. Let’s print out the value at index `0` of `station_names` below.

In [16]:
print(station_names[0])

Helsinki Harmaja

In [17]:
print(station_names[-1])

Helsinki Kumpula

### Number of items in a list

We can find the length of a list using the `len()` function. Use it below to check the length of the `station_names` list.

In [18]:
len(station_names)

4

Just as expected, there are 4 values in our list and `len(station_names)` returns a value of `4`.

### Modifying list values

Another nice feature of lists is that they are mutable, meaning that the values in a list that has been defined can be modified. Consider a list of the observation station types corresponding to the station names in the `station_names` list.

In [19]:
station_types = ['Weather stations', 'Weather stations', 'Weather stations', 'Weather stations']
print(station_types)

['Weather stations', 'Weather stations', 'Weather stations', 'Weather stations']

In [20]:
station_types[2] = 'Mareographs'
print(station_types)

['Weather stations', 'Weather stations', 'Mareographs', 'Weather stations']

### Data types in lists

Lists can also store more than one type of data. Let’s consider that in addition to having a list of each station name, FMISID, latitude, etc. we would like to have a list of all of the values for station ‘Helsinki Kaivopuisto’.

In [21]:
station_hel_kaivo = [station_name, station_id, station_lat, station_lon, station_type]
print(station_hel_kaivo)

['Helsinki Kaivopuisto', 132310, 60.15, 24.96, 'Mareographs']

Here we have one list with 3 different types of data in it. We can confirm this using the `type()` function. Let’s check the type of `station_hel_kaivo`, then the types of the values at indices `0-2` in the cells below.

In [22]:
type(station_hel_kaivo)

list

In [23]:
type(station_hel_kaivo[0])

str

In [24]:
type(station_hel_kaivo[1])

int

In [25]:
type(station_hel_kaivo[2])

float

### Addind and removing values from lists

Finally, we can add and remove values from lists to change their lengths. Let’s consider that we no longer want to include the first value in the `station_names` list. Since we haven’t see that list in a bit, let’s first print it to the screen.

In [26]:
print(station_names)

['Helsinki Harmaja', 'Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

`del` allows values in lists to be removed. It can also be used to delete values from memory in Python. To remove the first value from the `station_names` list, we can simply type `del station_names[0]`. If you then print out the `station_names` list, you should see the first value has been removed.

In [27]:
del station_names[0]

In [28]:
print(station_names)

['Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

If we would instead like to add a few samples to the `station_names` list, we can type `station_names.append('List item to add')`, where `'List item to add'` would be the text that would be added to the list in this example. Let’s add two values to our list in the cells below: `'Helsinki lighthouse'` and `'Helsinki Malmi airfield'`. After doing this, let’s check the list contents by printing to the screen.

In [29]:
station_names.append('Helsinki lighthouse')
station_names.append('Helsinki Malmi airfield')

In [30]:
print(station_names)

['Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula', 'Helsinki lighthouse', 'Helsinki Malmi airfield']

As you can see, we add values one at a time using `station_names.append()`. `list.append()` is called a method in Python, which is a function that works for a given data type (a list in this case). We’ll see some other examples of useful list mtehods below.

### Some other useful list methods

With lists we can do a number of useful things, such as count the number of times a value occurs in a list or where it occurs. The `list.count()` method can be used to find the number of instances of an item in a list. For instance, we can check to see how many times `'Helsinki Kumpula'` occurs in our list `station_names` by typing `station_names.count('Helsinki Kumpula')`.

In [31]:
station_names.count('Helsinki Kumpula')

1

Similarly, we can use the `list.index()` method to find the index value of a given item in a list. Let’s use the cell below to find the index of `'Helsinki Kumpula'` in the `station_names` list.

In [32]:
station_names.index('Helsinki Kumpula')

2

### Reversing a list

There are two other common methods for lists that we need to see. First, there is the `list.reverse()` method, used to reverse the order of items in a list. Let’s reverse our `station_names` list below and then print the results.

In [33]:
station_names.reverse()

In [34]:
print(station_names)

['Helsinki Malmi airfield', 'Helsinki lighthouse', 'Helsinki Kumpula', 'Helsinki Kaivopuisto', 'Helsinki Kaisaniemi']

### Sorting a list

The `list.sort()` method works the same way. Let’s sort our `station_names` list and print its contents below.

In [35]:
station_names.sort()

In [36]:
print(station_names)

['Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula', 'Helsinki Malmi airfield', 'Helsinki lighthouse']

## Good coding practices - Describing your code

This week our good programming practice is about describing your code. What we mean here is providing some descriptive text that helps the user (you in many cases) understand what the code is used for, and how certain sections work. In a Jupyter notebook, this text can take two basic forms:

- **Code comments:** Text included within a code cell to help the user understand what the code is doing
- **Markdown text:** Text in Markdown cells that provides a broader view of the code or analysis that follows.

### Describing your code

Providing comments or Markdown text to describe your code is essential for a number of reasons:

1. **Code descriptions make it easier to understand your code.** Although good variable names can help you and other users better understand what you code does, your Jupyter notebooks are seldom short enough for you to be able to read over the entire code at once and fully understand what is going on. For this reason, comments and Markdown text are essential parts of making sure your notebooks are easy to use and understand section by section.

2. **Code descriptions make it easier for other users to use your code.** Even when writing simple software it is worthwhile to take the time to include some extra documentaion about how it works. Everyone has their own tendencies in how they write their software and by including a few comments and/or Markdown text you can make it much easier for people to understand and use your work.

3. **Writing code descriptions can help you debug your code.** We’ll all soon have more experience with not knowing why some piece of code doesn’t work the way it should. One way to help fix (or debug) your code is to add comments stating what each line does. By taking things step by step, you may find that your code doesn’t actually do what you thought, and fix issues in this way.

4. **Code descriptions are a big part of why Jupyter notebooks are so powerful.** Code comments are quite helpful in general, but the biggest feature of a Jupyter notebook is the ability to mix rich text with your code. With this platform you can even write scientific texts with embedded code cells to be able to perform calculations, analyze data and visualize your results. This powerful platform is an excellent open science tool that provides a clear means to reproduce your results on demand.

### Code comments
Code comments are text within your Python software that does not get executed when the software is run. This text is mixed within the code, and often used to describe parts or all of the code work. There are two types of code comments in Python, described below.

#### Line comments

Line comments begin with the `#` character and everything to the right of that character will be ignored by the Python interpreter. These comments are most frequently used to describe single lines of code or a small group of related lines. Let’s have a look at an example.

In [37]:
# This is a line comment. It will be ignored when this cell is run.

Let’s have a look at a few more examples.

In [38]:
# This list has the names of FMI observation stations in Helsinki
station_names = ['Helsinki Harmaja', 'Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

print(station_names[-1]) # This prints the last value in the list station_names

# This doesn't work, so I'm commenting it out for now
# my_life.append(lots_of_money)

Helsinki Kumpula

#### Block comments

Block comments are similar to line comments in that they are embedded within your code and are not executed when a code cell is run. You can begin a line comment with three quotation marks `'''` and end it with the same thing, three quotation marks `'''`. Everything within the groups of quotation marks will be ignored and it does not make any difference whether you use three single `'''` or double `"""` quotation marks. Let’s see some examples.

In [39]:

''' This text will also be ignored.
Even if it is spread across multiple lines.
Cool! '''

' This text will also be ignored.\nEven if it is spread across multiple lines.\nCool! '

In [40]:
''' The list below contains names of FMI observation stations in Helsinki.
More information and a complete list of stations can be found at
https://en.ilmatieteenlaitos.fi/observation-stations '''
station_names = ['Helsinki Harmaja', 'Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

In [41]:
''' None of the code below works, commenting this out for now.
step_one = learn_to_code()
step_two = become_programmer()
step_three = ???
step_four = profit()
'''

' None of the code below works, commenting this out for now.\nstep_one = learn_to_code()\nstep_two = become_programmer()\nstep_three = ???\nstep_four = profit()\n'